h1,
h2,
p {
  text-align: center;
  color: white;
}

h1,
h2 {
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

#footer {
  text-align: right;
}

body {
  background-color: black;
}
